
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Lato', sans-serif;
    color: #fff;
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto; //centers gallery grid container div
  }
  body{
    padding-left: 1em;
    padding-right: 1em;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
  